*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu Mono', monospace;
}


/* ----------------------- style of header ------------------------- */

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    position: fixed;
    top: Opx;
    left: 0px;
    z-index: 2222222222222222222;
}

header .menu{
    display: none;
}
header nav{
    display: flex;
    width: 60%;
    align-items: center;
}
header nav ul{
    display: flex;
    width: 60%;
    margin: auto;
}

header nav ul li{
    list-style-type: none;
    margin: auto;
}
header nav ul li:hover{
    color: white;
    padding: 10px 14px;
    background-color: rgb(46, 156, 74);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    padding-top: 30px;
    margin-top: -27px;
    padding-bottom: 35px;
    transition: .5s;
}

header nav ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}


header nav ul a:hover{
    color: white;
}

header div:last-child{
    width: 15%;
    padding: 10px 15px;
}

header div:last-child img{
margin-top: 10px;
}
header div:last-child button{
    float: right;
    font-weight: bolder;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    background: none;
    border: 1px solid #40A92F;
}

header div:last-child button:hover{
    background-color: #40A92F;
    color: white;
    box-shadow: 2px 2px white,4px 4px #40A92F;
    transition: .5s;
}



/* ----------------------- style of section 1 ------------------------- */

.section1{
    width: 100%;
    height: 630px;
    overflow: hidden;
    position: relative;
}
.section1 img{
  width: 100%;
  height: 1300px;
  z-index: 1;
}

.section1 .mainS{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 9%;
    left: 0px;
    display: flex;
}
.section1 .mainS div{
    width: 50%;
    height: 100%;
    display: inline-block;
    margin-top: 8%;
}

.section1 .mainS div p{
    width: 60%;
    margin: auto;
    font-size: 28px;
    margin-top: 10px;
    font-weight: 1000;
    white-space: nowrap;
}


.section1 .mainS div p span{
 color: #3AA628;
}

.section1 .mainS div button{
    margin: auto;
    padding: 16px 80px;
    text-align: center;
    white-space: nowrap;
    margin-left: 20%;
    border-radius: 20px;
    border: 1px solid #40A92F;
    outline: none;
    background: none;
    font-weight: bolder;
    font-size: 20px;
}

.section1 .mainS div button:hover{
    background-color: #40A92F;
    color: white;
    transform: scale(1.1);
    box-shadow: 2px 2px white,4px 4px #40A92F;
    transition: .5s;
}

.section1 .mainS img{
    width: 50%;
    height: 98%;
    transform: scale(1.5);
}


/* ----------------------- style of section 2 ------------------------- */


.section2{
    width: 100%;
   padding: 20px;
   height: auto;
   margin-top: 20px;
   margin-bottom: 30px;
   

}

.section2 h1{
    width: 100%;
    text-align: center;
}

.section2 .find{
    width: 70%;
    margin: auto;
    height: 200px;
    border: 1px solid rgb(228, 216, 216);
    border-radius: 20px;
    margin-top: 40px;
    padding-left: 20px;
    position: relative;

}

.findCar{
    width: 200px;
    position: absolute;
    top: 30%;
    right: 5%;
}

.findCar button{
    padding: 30px 60px;
    border-radius: 20px;
    background-image: url("../images/searchIcon.svg");
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: 10px;
    font-size: 20px;
    white-space: nowrap;
    border: 1px solid rgb(228, 216, 216);
    outline: none;
    background-color: #40A92F;
    color: white;
    font-weight: bolder;
}
.findCar button:hover{
background-color: #40A92F;
color: white;
box-shadow: 2px 2px white,4px 4px #40A92F;
transform: scale(1.1);
transition: .5s;
}


/** -------------- first style div of les selection ------------------ */

.section2 .find div:first-child{
    width: 70%;
    display: flex;
    margin-bottom: 20px;

}
.section2 .find div:first-child div{
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}
.section2 .find div:first-child div select{
   padding: 10px 30px;
   margin-top: 9%;
   border-radius: 20px;
   border: 1px solid rgb(228, 216, 216);
}

/** -------------- second style div of les selection ------------------ */

.section2 .find .secondSe{
    width: 70%;
    display: flex;
}
.section2 .find .secondSe div{
    width: 100%;
    justify-content: space-around;
}
.section2 .find .secondSe div select{
   padding: 10px 30px;
   border-radius: 20px;
   border: 1px solid rgb(228, 216, 216);
}



/* ----------------------- style of section 3 ------------------------- */

.section3{
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    margin-bottom: 100px;
    padding:20px 0px;
}

.section3 h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.section3 .works{
    width: 90%;
    margin: auto;
    margin-bottom: -120px !important;
    white-space: nowrap;
}

.section3 .works h1{
    font-size: 20px;
}

.section3 .works div:first-child{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 150px;
}
.section3 .works div:first-child div{
    width: 50%;
    margin: auto;
    display: block;
}
.section3 .works .lastWork{
    width: 50%;
    margin: auto;
}

.section3 .works .lastWork div{
    display: block;
}

.section3 .works h1{
    width: 100%;
    text-align: center;
}

.section3 .works button{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 2px 43%;
    border: 1px solid #40A92F;
    box-shadow: 0px 0px 6px rgb(160, 155, 155);
    margin-bottom: 20px;
}

.section3 .works .btn1{
    background-image: url("../images/position.svg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.section3 .works .btn2{
    background-image: url("../images/book.svg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.section3 .works .btn3{
    background-image: url("../images/dollar.svg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}


.section3 .works P{
    width: 100%;
    text-align: center;
}



/* ----------------------- style of section 4 ------------------------- */

.section4{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}


.section4 h1,.section4 p{
    width: 100%;
    text-align: center;
}

.section4 .Premiume{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section4 .Premiume h3{
    width: 20%;
    text-align: right;
    margin-top: 10px;
}

.section4 .Premiume div{
    display: flex;
    width:35% ;
    align-items: center;
    justify-content: space-around;
}

.section4 .Premiume button{
    padding: 10px 30px;
    background-color: white;
    outline: none;
    border:1px solid  #40A92F;
    color: #40A92F;
    border-radius: 10px;
}

.section4 .Premiume button:hover{
    font-size: 12px;
    transition: .5s;
}

.section4 .series1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    overflow: hidden;
    padding: 0px 20px;
    margin-top: 50px;
}

.section4 .series1 .cardSerie{
    width: 25%;
    border:1px solid gray;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
}
.section4 .serie{
    width: 100%;
    height: 40%;
    display: flex;
}

.section4 .serie div{
    width: 50%;
    height: 100%;
}

.section4 .imgSerie{
    width: 100%;
    height: 60%;
}

.section4 .serie div:first-child{
    display: grid;
}

.section4 .serie div:first-child button{
    width: 100px;
    padding: 6px 0px;
    margin: auto;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 10px;

}

.section4 .serie div:first-child p{
    margin-top: 40px;
}

.section4 .serie div:first-child p button{
    background-color: #40A92F;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

.section4 .serie div:last-child{
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
}

.section4 .serie div:last-child p{
    width: 100%;
    text-align: left;
    padding-left: 5px;
    margin-top: 10px;
}
.section4 .serie div:last-child p button{
    /* background-image: url("../images/dollar.svg"); */
    background-image: url("../images/iconsSettings.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    filter: saturate(0.1);
}

.section4 .imgSerie img{
    width: 70%;
    height: 70%;
    margin-top: 30px;
   margin-left: 70px;
   transform: scale(1.7);
    
}



/* ------------------------ strat style of footer --------------------------------- */


footer{
    width: 100%;
    border: 1px solid rgb(230, 225, 225);
    padding-top: 30px;
    overflow: hidden;
    position: relative;
}

footer .allLinks{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

footer .allLinks div{
    display: block;
    width: 20%;
    text-align: center;
}
footer .allLinks div a{
    display: block;
    text-decoration: none;
    color: black;
}

footer hr{
    width: 40%;
    background-color: #F1EFEF;
    margin: 50px auto;
}


footer .dowContenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40%;
    margin-bottom: 50px;
}

footer .dowContenu div{
    width:40%;
    text-align: center;
}
footer .dowContenu div img{
    width: 100px;
    height: 100px;
}


footer .iconsNetwork{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    margin-top: 10px;
}

footer .iconsNetwork img{
    width: 40px  !important;
    height: 40px !important;
    border-radius: 50%;

} 

footer .footerNewsLetter{
display: flex;
align-items: center;
text-align: left;
}
footer .footerNewsLetter h2{
    margin-left: 100px;
}
footer .footerNewsLetter button{
    width: 50%;
    height: 70px;
    background-image: url("../images/toRight.svg");
    background-position: right;
    background-size: 30%;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: left;
    padding-left: 15px;
    margin-left: 5px;
}

footer .toUp{
    width: 100%;
    text-align: center;
}

footer .toUp button{
    margin: auto;
    background-color: #40A92F;
    height: 140px;
    width: 140px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: scale(1.7);
    border: none;
    outline: none;
    position: absolute;
    bottom: -130px;
    background-image: url("../images/tuUpHome.svg");
    background-position: top;
    background-size: 30%;
    background-repeat: no-repeat;
    cursor: pointer;
}