

/* ------------------ responsive of header max width 780 px ------------------- */


@media only screen and (max-width:780px){
    header{
        display: inline-block;
        text-align: center;
        background-color: #40A92F;
    }
    header .menu{
        display: block;
    }
    header .logo{
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
    }
 
    
    header nav{
        display: none;
        width: 100%;
        align-items: center;
        background-color: #40A92F;
    }
    header nav ul{
        display: inline-block;
        width: 60%;
        margin: auto;
    }
    
    header nav ul li{
        list-style-type: none;
        margin:20px auto;
        text-align: center;
    }
 

    header div:last-child{
        width: 15%;
        padding: 10px 15px;
    }
    
    header div:last-child img{
    position: absolute;
    top: 13px;
    left: 33%;
    }
    header div:last-child button{
        border: 1px solid white; 
        position: absolute;
        top: 13px;
        left: 40%;


    }

    header nav ul li:hover{
        color: white;
        padding: 5px;
        background-color: #40A92F;
        outline: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 20px;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        transition: .0s;
    }
    











/* ----------------------- style of section 4 ------------------------- */

.section4{
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}


.section4 h1,.section4 p{
    width: 100%;
    text-align: center;
}
.section4 p{
    font-size: 12px;
    white-space: nowrap;
}

 .section4 .Premiume{
    width: 100%;
    display: inline-block;
    justify-content: space-around;
}

.section4 .Premiume h3{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    margin-bottom: 20px;
    
}

.section4 .Premiume div{
    width: 80%;
    height: auto;
    padding: 0px 20px;
    margin: auto;
}



.section4 .series1{
    display: inline-block;
    width: 100%;
    justify-content: space-around;
    padding: 0px 20px;
    margin-top: 50px;
}

.section4 .series1 .cardSerie{
    width: 80%;
    border:1px solid gray;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
}
.section4 .series1 .cardSerie:hover{
    box-shadow: 1px 1px 7px gray;
}


.section4 .serie div:first-child p button{
    background-color: #49e431;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
}
.section4 .serie div:first-child p button:hover{
    border:1px solid #40A92F;
    background-color: white;
    padding: 15px;
    font-weight: bolder;
    color: #49e431;
}















    
/* ------------------------ strat style of footer --------------------------------- */


footer{
    width: 100%;
    border: 1px solid rgb(230, 225, 225);
    padding-top: 30px;
    overflow: hidden;
    position: relative;
}

footer .allLinks{
    display: inline-block;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

footer .allLinks div{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
footer .allLinks div h1{
    font-size: 20px;
}
footer .allLinks div a{
    display: block;
    text-decoration: none;
    color: black;
}

footer hr{
    width: 40%;
    background-color: #F1EFEF;
    margin: 50px auto;
}


footer .dowContenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40%;
    margin-bottom: 50px;
}

footer .dowContenu div{
    width:40%;
    text-align: center;
    margin-bottom: 30px;
}
footer .dowContenu div p{
white-space: nowrap;
padding-left: 10px;
}
footer .dowContenu div img{
    width: 100px;
    height: 100px;
}


footer .iconsNetwork{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    margin-top: 10px;
}

footer .iconsNetwork img{
    width: 40px  !important;
    height: 40px !important;
    border-radius: 50%;

} 

footer .footerNewsLetter{
display: inline-block;
align-items: center;
text-align: center;
}
footer .footerNewsLetter h2{
    margin-left: 0px;
    margin-top: 50px;
}
footer .footerNewsLetter button{
    width: 80%;
    height: 45px;
    background-image: url("../images/toRight.svg");
    background-position: right;
    background-size: 30%;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: left;
    padding-left: 15px;
    margin-left: 0px;
    font-size: 9px;
    font-weight: bolder;
}

footer .toUp{
    width: 100%;
    text-align: center;
}

footer .toUp button{
    margin: auto;
    background-color: #40A92F;
    height: 140px;
    width: 140px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: scale(1.7);
    border: none;
    outline: none;
    position: absolute;
    bottom: -150px;
    background-image: url("../images/tuUpHome.svg");
    background-position: top;
    background-size: 30%;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -60px;
}




}














/* ------------------ responsive of header max width 780 px ------------------- */


@media only screen and (min-width:780px) and (max-width:1200px){

    
    /* ----------------------- style of header ------------------------- */
    
    header{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2222222222222222222;
    }
    
    header .menu{
        display: none;
    }
    header nav{
        display: flex;
        width: 60%;
        align-items: center;
    }
    header nav ul{
        display: flex;
        width: 60%;
        margin: auto;
    }
    
    header nav ul li{
        list-style-type: none;
        margin: auto;
    }
    header nav ul li:hover{
        color: white;
        padding: 10px 14px;
        background-color: rgb(46, 156, 74);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 50px;
        padding-top: 30px;
        margin-top: -27px;
        padding-bottom: 35px;
        transition: .5s;
    }
    
    header nav ul a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: bolder;
        white-space: nowrap;
    }
    
    
    header nav ul a:hover{
        color: white;
    }
    
    header div:last-child{
        width: 15%;
        padding: 10px 15px;
        display: flex;
    }
    
    header div:last-child img{
    margin-top: 7px;
    margin-right: 10px;
    }
    header div:last-child button{
        float: right;
        font-weight: bolder;
        width: 100px;
        padding: 10px;
        border-radius: 20px;
        margin-right: 10px;
        background: none;
        border: 1px solid #40A92F;
    }
    
    header div:last-child button:hover{
        background-color: #40A92F;
        color: white;
        box-shadow: 2px 2px white,4px 4px #40A92F;
        transition: .5s;
    }
    
    








    /* ----------------------- style of section 4 ------------------------- */
    
    .section4{
        width: 100%;
        height: auto;
        margin-bottom: 70px;
    }
    
    
    .section4 h1,.section4 p{
        width: 100%;
        text-align: center;
    }
    
    .section4 .Premiume{
        width: 100%;
        display: inline-block;
        justify-content: space-around;
    }
    
    .section4 .Premiume h3{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        white-space: nowrap;
        margin-bottom: 20px;
        
    }
    
    .section4 .Premiume div{
        width: 80%;
        height: auto;
        padding: 0px 20px;
        margin: auto;
    }
    
    .section4 .series1{
        display: inline-block;
        width: 100%;
        justify-content: space-around;
        padding: 0px 20px;
        margin-top: 50px;
    }
    
    .section4 .series1 .cardSerie{
        width: 50%;
        border:1px solid gray;
        border-radius: 10px;
        height: 400px;
        overflow: hidden;
        margin: auto;
        margin-bottom: 20px;
    }
    .section4 .series1 .cardSerie:hover{
        box-shadow: 1px 1px 7px gray;
    }
    .section4 .serie{
        width: 100%;
        height: 40%;
        display: flex;
    }
    
    .section4 .serie div{
        width: 50%;
        height: 100%;
    }

    
    .section4 .serie div:first-child{
        display: grid;
    }
    
    .section4 .serie div:first-child button{
        width: 100px;
        padding: 6px 0px;
        margin: auto;
        margin-top: 10px;
        outline: none;
        border: none;
        border-radius: 10px;
    
    }
    
    .section4 .serie div:first-child p{
        margin-top: 40px;
    }
    
    .section4 .serie div:first-child p button{
        background-color: #49e431;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 15px;
        color: white;
    }
    .section4 .serie div:first-child p button:hover{
        border:1px solid #40A92F;
        background-color: white;
        padding: 15px;
        font-weight: bolder;
        color: #49e431;
    }
    
    .section4 .serie div:last-child{
        border-left: 1px solid gray;
        border-bottom: 1px solid gray;
        border-bottom-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .section4 .serie div:last-child p{
        width: 100%;
        text-align: left;
        padding-left: 5px;
        margin-top: 10px;
    }
    .section4 .serie div:last-child p button{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        outline: none;
        border: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }
    
    /* .section4 .imgSerie img{
        width: 100px;
        height:100px;
        margin-top: 60px;
       margin-left: 100px;
       transform: scale(1.7);
      
        
    } */
    
    

 
    
    /* ------------------------ strat style of footer --------------------------------- */
    
    
    footer{
        width: 100%;
        border: 1px solid rgb(230, 225, 225);
        padding-top: 30px;
        overflow: hidden;
        position: relative;
    }
    
    footer .allLinks{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-around;
    }

    footer .allLinks h1{
        white-space: nowrap;
    }
    
    footer .allLinks div{
        display: block;
        width: 20%;
        text-align: center;
    }
    footer .allLinks div a{
        display: block;
        text-decoration: none;
        color: black;
    }
    
    footer hr{
        width: 40%;
        background-color: #F1EFEF;
        margin: 50px auto;
    }
    
    
    footer .dowContenu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 40%;
        margin-bottom: 50px;
    }
    
    footer .dowContenu div{
        width:40%;
        text-align: center;
    }
    footer .dowContenu div img{
        width: 100px;
        height: 100px;
    }
    
    
    footer .iconsNetwork{
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    footer .iconsNetwork img{
        width: 40px  !important;
        height: 40px !important;
        border-radius: 50%;
    
    } 
    
    footer .footerNewsLetter{
    display: flex;
    align-items: center;
    text-align: left;
    }
    footer .footerNewsLetter h2{
        margin-left: 30px;
    }
    footer .footerNewsLetter button{
        width: 90%;
        height: 40px;
        background-image: url("../images/toRight.svg");
        background-position: right;
        background-size: 30%;
        background-repeat: no-repeat;
        border-radius: 20px;
        text-align: left;
        padding-left: 8px;
        margin-left: 10px;
        font-size: 12px;

    }
    
    footer .toUp{
        width: 100%;
        text-align: center;
    }
    
    footer .toUp button{
        margin: auto;
        background-color: #40A92F;
        height: 140px;
        width: 140px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        transform: scale(1.7);
        border: none;
        outline: none;
        position: absolute;
        bottom: -130px;
        background-image: url("../images/tuUpHome.svg");
        background-position: top;
        background-size: 30%;
        background-repeat: no-repeat;
        cursor: pointer;
    }








}