<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/gallerie.css">
    <link rel="stylesheet" href="../../responsive/gallery.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>Gallerie</title>
</head>
<body>

    <!------------------ HEADER ------------------>

        <header>
            <div style="width: 15%;" class="logo">
                <img src="../../images/logoCar.png" style="float: right;" width="50" height="50" alt="">
                <img onclick="Menu()" class="menu" src="../../images/menuAndroid.svg" style="float: left;" width="50" height="50" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../Gallerie.html" style="border-bottom: 1px solid green;padding: 0px 2px 2px 2px;">Gallerie</a></li>
                    <li><a href="../Réservation.html">Réservation</a></li>
                    <li><a href="../conatct.html">Contact</a></li>
                </ul>
            </nav>
            <div>
                <img src="../images/searchIcon.svg" alt="">
                <button class="btnSignin">Sign in</button>
            </div>
        </header>

    <!------------------ MAIN -------------------->
   

    <main>
     <section class="sectionbg">
         <div>
             <br><br>
             <p><a href="../Réservation.html"><button>reservation</button></a></p>
         </div>
     </section>
    <section class="section4">

        <!--** ------------------------ -->
        <h1>cars</h1>
        <br>
        <p>we have a fleet of different cars,party buses,and vans your disposal</p>
        <p>our cars are new and fairlty used but all in good condition</p>
        <br><br><br>
        <div class="Premiume">
            <h3>Premiume rental ride :</h3>
            <div>
                <a href="../Gallerie.html"><button>moto</button></a>
                <a href="compact.html"> <button>compact</button></a>
                <a href="citadin.html"><button>citadin</button></a>
                <a href="utilitaire.html"><button>utilitaire</button></a>
                <a href="sedan.html"><button>berlin</button></a>
                <a href="camion.html"><button style="background-color: #7ae46a;color: white;">camion</button></a>
                <a href="enginChantier.html"><button>engin de chantier</button></a>
            </div>
        </div>

        <!--** ------------------------ -->
        
        <div class="series1">
            <!-- **---------- Serie 1 ------------- -->
            <div class="cardSerie">
                    <div class="serie">
                        <div>
                            <button>2022</button>
                            <p>
                                250$/day
                                <button>Rent now</button>
                            </p>
                        </div>
                        <div>
                            <p style="font-weight: bolder;text-align: center;">CAMION</p>
                            <br>
                            <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                            <p><button style=" background-image: url('../../images/speed.png');"></button> 960km</p>
                            <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                        </div>
                    </div>
                    <div class="imgSerie">
                        <img src="../../images/Camion/camion1.jpg" alt="">
                    </div>
            </div>

             <!-- **---------- Serie 2 ------------- -->
             <div class="cardSerie">
                <div class="serie">
                    <div>
                        <button>2022</button>
                        <p>
                            250$/day
                            <button>Rent now</button>
                        </p>
                    </div>
                    <div>
                        <p style="font-weight: bolder;text-align: center;">CAMION</p>
                        <br>
                        <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                        <p><button style=" background-image: url('../../images/speed.png');"></button> 650km</p>
                        <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                    </div>
                </div>
                <div class="imgSerie">
                    <img src="../../images/Camion/camion2.jpg" alt="">
                </div>
            </div>


             <!-- **---------- Serie 3 ------------- -->
             <div class="cardSerie">
                <div class="serie">
                    <div>
                        <button>2022</button>
                        <p>
                            250$/day
                            <button>Rent now</button>
                        </p>
                    </div>
                    <div>
                            <p style="font-weight: bolder;text-align: center;">CAMION</p>
                            <br>
                            <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                            <p><button style=" background-image: url('../../images/speed.png');"></button> 900km</p>
                            <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                    </div>
                </div>
                <div class="imgSerie">
                    <img src="../../images/Camion/camion3.jpg" alt="">
                </div>
            </div>


        </div>



        <!--**---------------------------------------------------------------------------------------- -->


        <div class="series1">
            <!-- **---------- Serie 1 ------------- -->
            <div class="cardSerie">
                    <div class="serie">
                        <div>
                            <button>2022</button>
                            <p>
                                250$/day
                                <button>Rent now</button>
                            </p>
                        </div>
                        <div>
                            <p style="font-weight: bolder;text-align: center;">CAMION</p>
                            <br>
                            <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                            <p><button style=" background-image: url('../../images/speed.png');"></button> 600km</p>
                            <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                        </div>
                    </div>
                    <div class="imgSerie">
                        <img src="../../images/Camion/camion4.jpg" alt="">
                    </div>
            </div>

             <!-- **---------- Serie 2 ------------- -->
             <div class="cardSerie">
                <div class="serie">
                    <div>
                        <button>2022</button>
                        <p>
                            250$/day
                            <button>Rent now</button>
                        </p>
                    </div>
                    <div>
                        <p style="font-weight: bolder;text-align: center;">CAMION</p>
                        <br>
                        <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                        <p><button style=" background-image: url('../../images/speed.png');"></button> 1002km</p>
                        <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                    </div>
                </div>
                <div class="imgSerie">
                    <img src="../../images/Camion/camion5.jpg" alt="">
                </div>
            </div>


             <!-- **---------- Serie 3 ------------- -->
             <div class="cardSerie">
                <div class="serie">
                    <div>
                        <button>2022</button>
                        <p>
                            250$/day
                            <button>Rent now</button>
                        </p>
                    </div>
                    <div>
                        <p style="font-weight: bolder;text-align: center;">CAMION</p>
                        <br>
                        <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                        <p><button style=" background-image: url('../../images/speed.png');"></button> 530km</p>
                        <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                    </div>
                </div>
                <div class="imgSerie">
                    <img src="../../images/Camion/camion6.jpg" alt="">
                </div>
            </div>


        </div>




        <!--**---------------------------------------------------------------------------------------- -->


        <div class="series1">
            <!-- **---------- Serie 3 ------------- -->
            <div class="cardSerie">
                    <div class="serie">
                        <div>
                            <button>2022</button>
                            <p>
                                250$/day
                                <button>Rent now</button>
                            </p>
                        </div>
                        <div>
                            <p style="font-weight: bolder;text-align: center;">CAMION</p>
                            <br>
                            <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                            <p><button style=" background-image: url('../../images/speed.png');"></button> 940km</p>
                            <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                        </div>
                    </div>
                    <div class="imgSerie">
                        <img src="../../images/Camion/camion7.jpg" alt="">
                    </div>
            </div>

             <!-- **---------- Serie 2 ------------- -->
             <div class="cardSerie">
                <div class="serie">
                    <div>
                        <button>2022</button>
                        <p>
                            250$/day
                            <button>Rent now</button>
                        </p>
                    </div>
                    <div>
                        <p style="font-weight: bolder;text-align: center;">CAMION</p>
                        <br>
                        <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                        <p><button style=" background-image: url('../../images/speed.png');"></button> 890km</p>
                        <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                    </div>
                </div>
                <div class="imgSerie">
                    <img src="../../images/Camion/camion8.jpg" alt="">
                </div>
            </div>


             <!-- **---------- Serie 3 ------------- -->
             <div class="cardSerie">
                <div class="serie">
                    <div>
                        <button>2022</button>
                        <p>
                            250$/day
                            <button>Rent now</button>
                        </p>
                    </div>
                    <div>
                        <p style="font-weight: bolder;text-align: center;">CAMION</p>
                        <br>
                        <p><button style=" background-image: url('../../images/station.png');"></button> Electic car</p>
                        <p><button style=" background-image: url('../../images/speed.png');"></button> 999km</p>
                        <p><button style=" background-image: url('../../images/convertible.png');"></button> non-converbile</p>
                    </div>
                </div>
                <div class="imgSerie">
                    <img src="../../images/Camion/camion9.jpg" alt="">
                </div>
            </div>


        </div>



    </section>
    </main>

    <!------------------ FOOTER ------------------>

    <footer>
        <div class="allLinks">
            <div>
               <h1>Our Products</h1>
               <br><br>
               <a href="../Gallerie.html">Moto</a><br>
               <a href="compact.html">compact</a><br>
               <a href="citadin.html">citadin</a><br>
               <a href="utilitaire.html">utilitaire</a><br>
               <a href="sedan.html">sedan</a><br>
               <a href="camion.html">camion</a><br>
               <a href="enginChantier.html">engin de chantier</a><br>
            </div>
             <div>
                <h1>About Us</h1>
                <br><br>
                <a href="">why us ?</a><br>
                <a href="">our Story</a><br>
                <a href="">incestor</a><br>
                <a href="">advertise</a><br>
             </div>
             <div>
                <h1>Extras</h1>
                <br><br>
                <a href="">rental deals</a><br>
                <a href="">repair shop</a><br>
                <a href="">view booking</a><br>
                <a href="">new offers</a><br>
             </div>
        </div>


          <hr>


          <div class="dowContenu">
              <div>
                  <img src="../../images/mainCar.jpg">
                  <p>your welcome in our company</p>
                 <div class="iconsNetwork">
                    <img src="../../images/bi_facebook.svg" alt="">
                    <img src="../../images/ant-design_twitter-circle-filled.svg" alt="">
                    <img src="../../images/ant-design_instagram-filled.svg" alt="">
                    <img src="../../images/entypo-social_youtube-with-circle.svg" alt="">
                 </div>
              </div>
              <div class="footerNewsLetter">
                  <h2>Newsletter</h2>
                  <button>Work Email Adress</button>
              </div>
          </div>

          <div class="toUp">
                 <button onclick="tuUp()"></button>
          </div>


    </footer>


    <script src="../../js/gallery.js"></script>   
</body>
</html>